In [2]:
import pandas as pd

In [8]:
df2015 = pd.read_excel("/Users/2020/Housing-Market_Price_Project/아파트_실거래가/apt_transaction_2015.xlsx", header=16)
df2016 = pd.read_excel("/Users/2020/Housing-Market_Price_Project/아파트_실거래가/apt_transaction_2016.xlsx", header=16)
df2017 = pd.read_excel("/Users/2020/Housing-Market_Price_Project/아파트_실거래가/apt_transaction_2017.xlsx", header=16)
df2018 = pd.read_excel("/Users/2020/Housing-Market_Price_Project/아파트_실거래가/apt_transaction_2018.xlsx", header=16)
df2019 = pd.read_excel("/Users/2020/Housing-Market_Price_Project/아파트_실거래가/apt_transaction_2019.xlsx", header=16)
df2020 = pd.read_excel("/Users/2020/Housing-Market_Price_Project/아파트_실거래가/apt_transaction_2020.xlsx", header=16)
df2021 = pd.read_excel("/Users/2020/Housing-Market_Price_Project/아파트_실거래가/apt_transaction_2021.xlsx", header=16)

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [16]:
df2015

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201501,11,"60,000",5,1988,언주로 103,NaN
1,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201503,3,"65,000",5,1988,언주로 103,NaN
2,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201503,7,"62,500",2,1988,언주로 103,NaN
3,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201508,16,"68,000",6,1988,언주로 103,NaN
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201501,29,"73,000",5,1987,언주로 3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120218,서울특별시 중랑구 중화동,11-7,11.0,7.0,현대휴앤미(102동),77.71,201505,5,"27,500",4,2007,봉화산로27가길 19,NaN
120219,서울특별시 중랑구 중화동,11-7,11.0,7.0,현대휴앤미(102동),76.43,201505,19,"26,900",6,2007,봉화산로27가길 19,NaN
120220,서울특별시 중랑구 중화동,11-7,11.0,7.0,현대휴앤미(102동),67.36,201506,3,"24,950",6,2007,봉화산로27가길 19,NaN
120221,서울특별시 중랑구 중화동,11-7,11.0,7.0,현대휴앤미(102동),64.48,201507,1,"26,000",3,2007,봉화산로27가길 19,NaN
120222,서울특별시 중랑구 중화동,11-7,11.0,7.0,현대휴앤미(102동),76.43,201510,13,"28,250",7,2007,봉화산로27가길 19,NaN

In [17]:
df2015.columns

Index(['시군구', '번지', '본번', '부번', '단지명', '전용면적(㎡)', '계약년월', '계약일', '거래금액(만원)',
       '층', '건축년도', '도로명', '해제사유발생일'],
      dtype='object')

In [18]:
list_df = [df2015, df2016, df2017, df2018, df2019, df2020, df2021]

In [23]:
df = pd.DataFrame(columns=['시군구', '번지', '본번', '부번', '단지명', '전용면적(㎡)', '계약년월', '계약일', '거래금액(만원)',
       '층', '건축년도', '도로명', '해제사유발생일'])
df.columns==df2015.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [25]:
for dfYYYY in list_df:
    df = df.append(dfYYYY)

In [26]:
df

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201501,11,"60,000",5,1988,언주로 103,NaN
1,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201503,3,"65,000",5,1988,언주로 103,NaN
2,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201503,7,"62,500",2,1988,언주로 103,NaN
3,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201508,16,"68,000",6,1988,언주로 103,NaN
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201501,29,"73,000",5,1987,언주로 3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37732,서울특별시 중랑구 중화동,450,450.0,0.0,한신2,84.03,202108,21,"88,000",3,1998,동일로 752,NaN
37733,서울특별시 중랑구 중화동,274-51,274.0,51.0,한영(101),57.66,202102,27,"30,500",5,2003,동일로144길 74,NaN
37734,서울특별시 중랑구 중화동,274-75,274.0,75.0,한영(102),72.22,202105,4,"49,500",4,2003,동일로144길 74,NaN
37735,서울특별시 중랑구 중화동,274-76,274.0,76.0,한영(103),58.46,202107,1,"30,000",2,2003,동일로144길 74,NaN
37736,서울특별시 중랑구 중화동,274-76,274.0,76.0,한영(103),104.93,202108,20,"61,500",7,2003,동일로144길 74,NaN

In [39]:
df['dong'] = df['시군구'].str.split().str[2]
df

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,dong
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201501,11,"60,000",5,1988,언주로 103,NaN,개포동
1,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201503,3,"65,000",5,1988,언주로 103,NaN,개포동
2,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201503,7,"62,500",2,1988,언주로 103,NaN,개포동
3,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201508,16,"68,000",6,1988,언주로 103,NaN,개포동
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201501,29,"73,000",5,1987,언주로 3,NaN,개포동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37732,서울특별시 중랑구 중화동,450,450.0,0.0,한신2,84.03,202108,21,"88,000",3,1998,동일로 752,NaN,중화동
37733,서울특별시 중랑구 중화동,274-51,274.0,51.0,한영(101),57.66,202102,27,"30,500",5,2003,동일로144길 74,NaN,중화동
37734,서울특별시 중랑구 중화동,274-75,274.0,75.0,한영(102),72.22,202105,4,"49,500",4,2003,동일로144길 74,NaN,중화동
37735,서울특별시 중랑구 중화동,274-76,274.0,76.0,한영(103),58.46,202107,1,"30,000",2,2003,동일로144길 74,NaN,중화동
37736,서울특별시 중랑구 중화동,274-76,274.0,76.0,한영(103),104.93,202108,20,"61,500",7,2003,동일로144길 74,NaN,중화동

In [42]:
df['거래금액(만원)'] = df['거래금액(만원)'].str.replace(',', '')

In [43]:
df

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,dong
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201501,11,60000,5,1988,언주로 103,NaN,개포동
1,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201503,3,65000,5,1988,언주로 103,NaN,개포동
2,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201503,7,62500,2,1988,언주로 103,NaN,개포동
3,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201508,16,68000,6,1988,언주로 103,NaN,개포동
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201501,29,73000,5,1987,언주로 3,NaN,개포동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37732,서울특별시 중랑구 중화동,450,450.0,0.0,한신2,84.03,202108,21,88000,3,1998,동일로 752,NaN,중화동
37733,서울특별시 중랑구 중화동,274-51,274.0,51.0,한영(101),57.66,202102,27,30500,5,2003,동일로144길 74,NaN,중화동
37734,서울특별시 중랑구 중화동,274-75,274.0,75.0,한영(102),72.22,202105,4,49500,4,2003,동일로144길 74,NaN,중화동
37735,서울특별시 중랑구 중화동,274-76,274.0,76.0,한영(103),58.46,202107,1,30000,2,2003,동일로144길 74,NaN,중화동
37736,서울특별시 중랑구 중화동,274-76,274.0,76.0,한영(103),104.93,202108,20,61500,7,2003,동일로144길 74,NaN,중화동

In [44]:
df.columns

Index(['시군구', '번지', '본번', '부번', '단지명', '전용면적(㎡)', '계약년월', '계약일', '거래금액(만원)',
       '층', '건축년도', '도로명', '해제사유발생일', 'dong'],
      dtype='object')

In [48]:
df_temp = df[['dong', '도로명', '단지명', '전용면적(㎡)', '건축년도', '계약년월', '계약일', '층', '거래금액(만원)']]

In [50]:
df_temp

,dong,도로명,단지명,전용면적(㎡),건축년도,계약년월,계약일,층,거래금액(만원)
0,개포동,언주로 103,개포2차현대아파트(220),77.75,1988,201501,11,5,60000
1,개포동,언주로 103,개포2차현대아파트(220),77.75,1988,201503,3,5,65000
2,개포동,언주로 103,개포2차현대아파트(220),77.75,1988,201503,7,2,62500
3,개포동,언주로 103,개포2차현대아파트(220),77.75,1988,201508,16,6,68000
4,개포동,언주로 3,개포6차우성아파트1동~8동,79.97,1987,201501,29,5,73000
...,...,...,...,...,...,...,...,...,...
37732,중화동,동일로 752,한신2,84.03,1998,202108,21,3,88000
37733,중화동,동일로144길 74,한영(101),57.66,2003,202102,27,5,30500
37734,중화동,동일로144길 74,한영(102),72.22,2003,202105,4,4,49500
37735,중화동,동일로144길 74,한영(103),58.46,2003,202107,1,2,30000
37736,중화동,동일로144길 74,한영(103),104.93,2003,202108,20,7,61500

In [55]:
columns_df={'도로명':'addr_road',
            '단지명':'apt',
            '전용면적(㎡)':'exclusive_use_area',
            '건축년도':'year_of_completion',
            '계약년월':'transaction_year_month',
            '계약일':'transaction_date',
            '층':'floor',
            '거래금액(만원)':'transaction_real_price'
            }
df_temp = df_temp.rename(columns=columns_df_temp)
df_temp

,dong,addr_road,apt,exclusive_use_area,year_of_completion,transaction_year_month,transaction_date,floor,transaction_real_price
0,개포동,언주로 103,개포2차현대아파트(220),77.75,1988,201501,11,5,60000
1,개포동,언주로 103,개포2차현대아파트(220),77.75,1988,201503,3,5,65000
2,개포동,언주로 103,개포2차현대아파트(220),77.75,1988,201503,7,2,62500
3,개포동,언주로 103,개포2차현대아파트(220),77.75,1988,201508,16,6,68000
4,개포동,언주로 3,개포6차우성아파트1동~8동,79.97,1987,201501,29,5,73000
...,...,...,...,...,...,...,...,...,...
37732,중화동,동일로 752,한신2,84.03,1998,202108,21,3,88000
37733,중화동,동일로144길 74,한영(101),57.66,2003,202102,27,5,30500
37734,중화동,동일로144길 74,한영(102),72.22,2003,202105,4,4,49500
37735,중화동,동일로144길 74,한영(103),58.46,2003,202107,1,2,30000
37736,중화동,동일로144길 74,한영(103),104.93,2003,202108,20,7,61500

In [56]:
df_temp

,dong,addr_road,apt,exclusive_use_area,year_of_completion,transaction_year_month,transaction_date,floor,transaction_real_price
0,개포동,언주로 103,개포2차현대아파트(220),77.75,1988,201501,11,5,60000
1,개포동,언주로 103,개포2차현대아파트(220),77.75,1988,201503,3,5,65000
2,개포동,언주로 103,개포2차현대아파트(220),77.75,1988,201503,7,2,62500
3,개포동,언주로 103,개포2차현대아파트(220),77.75,1988,201508,16,6,68000
4,개포동,언주로 3,개포6차우성아파트1동~8동,79.97,1987,201501,29,5,73000
...,...,...,...,...,...,...,...,...,...
37732,중화동,동일로 752,한신2,84.03,1998,202108,21,3,88000
37733,중화동,동일로144길 74,한영(101),57.66,2003,202102,27,5,30500
37734,중화동,동일로144길 74,한영(102),72.22,2003,202105,4,4,49500
37735,중화동,동일로144길 74,한영(103),58.46,2003,202107,1,2,30000
37736,중화동,동일로144길 74,한영(103),104.93,2003,202108,20,7,61500

In [57]:
df_temp.to_csv("./preprocessing_apt_price.csv")